.otherpages {
    list-style-type: none;
    margin: 0px;
    padding: 4px;
    margin-right: 5px;
}

li {
    float:right;
    padding: 5px;
    font-family:'Arial', Courier, monospace;
    font-size:15px;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    border-radius: 4px;
    margin: 4px;
}

.maincontainer {
    text-align: center;
}

.logo {
    margin-top:16%;
    margin-bottom: 10px;
}

.input {
    width:550px;
    height:35px;
    margin: 4px;
    padding: 6px;
    border: 1px solid grey;
    border-radius: 25px;
    margin-bottom: 15px;
}

.s-button {
  background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

.l-button {
    box-shadow: 2px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

.l-button:hover, .s-button:hover {
     color:#3c4043;
     background:#D3D3D3;
     border: 3px solid lightgrey
}

.imgtext {
    color:#4285f4;
    position:relative;
    left:110px;
    bottom: 10px;
    font-size: 16px;
}